html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

img {
  width: 100%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

header .navbar {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 106px;
}

@media (min-width: 240px) and (max-width: 991px) {
  header .navbar {
    height: 131px;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
}

header .navbar .navbar-brand img {
  width: 170px;
}

header .navbar .navbar-nav {
  margin-left: auto;
}

header .navbar .navbar-nav li .nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

header .navbar .navbar-nav li .login-btn {
  padding: 7px;
  width: 138px;
  background-color: #009688e8;
  border: none;
  color: #fff;
  border-radius: 10px;
  height: 43px;
}

.banner-left-section {
  position: relative;
  background-image: url("../images/bg.png");
  background-position: top;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 240px) and (max-width: 480px) {
  .banner-left-section {
    background-image: none;
    height: 47vh;
  }
}

.banner-left-section .banner-left-content {
  background-color: #00416C;
  width: 630px;
  height: 380px;
  padding-left: 87px;
  position: relative;
  margin-left: 4rem;
}

@media (min-width: 240px) and (max-width: 1024px) {
  .banner-left-section .banner-left-content {
    height: auto;
  }
}

@media (min-width: 240px) and (max-width: 480px) {
  .banner-left-section .banner-left-content {
    width: 388px;
    padding-left: 33px;
    margin-left: 0rem;
  }
}

.banner-left-section .banner-left-content::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  border-bottom: 15px solid #00416c;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
}

.banner-left-section .banner-left-content::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  bottom: auto;
  top: 100%;
  border-bottom: none;
  border-top: 15px solid #00416c;
}

.banner-left-section .banner-left-content h3 {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  padding-top: 2rem;
}

.banner-left-section .banner-left-content h1 {
  font-size: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Barlow Condensed', sans-serif;
}

@media (min-width: 240px) and (max-width: 480px) {
  .banner-left-section .banner-left-content h1 {
    font-size: 30px;
  }
}

.banner-left-section .banner-left-content p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.banner-left-section #triangle-right {
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-left: 55px solid #009688;
  border-bottom: 55px solid transparent;
  position: absolute;
  top: 256px;
  left: 64px;
}

@media (min-width: 240px) and (max-width: 480px) {
  .banner-left-section #triangle-right {
    border-top: 32px solid transparent;
    border-left: 28px solid #FED103;
    border-bottom: 29px solid transparent;
    position: absolute;
    top: auto;
    left: 0px;
  }
}

.banner-left-section #explore {
  position: absolute;
  bottom: 31px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-left-section #explore a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

#about {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

@media (min-width: 240px) and (max-width: 480px) {
  #about {
    padding-top: 2rem;
  }
}

#about .title {
  margin: 2rem 0;
}

#about .title h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 240px) and (max-width: 480px) {
  #about .title h3 {
    text-align: left;
  }
}

#about .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 9px;
  bottom: 0;
}

#areas_of_expertise_section {
  position: relative;
  margin-bottom: 4rem;
}

#areas_of_expertise_section .title h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 240px) and (max-width: 480px) {
  #areas_of_expertise_section .title h3 {
    text-align: left;
  }
}

#areas_of_expertise_section .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 9px;
  bottom: 0;
}

#areas_of_expertise_section .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fff;
  border-radius: 0px;
  cursor: pointer;
  height: 340px;
  margin-top: 20px;
}

#areas_of_expertise_section .card .profile {
  border-radius: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}

#areas_of_expertise_section .card .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#areas_of_expertise_section .card .content .front img {
  width: 46% !important;
  height: auto;
}

#areas_of_expertise_section .card .content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #041e2fa1;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 0;
  padding: 10px;
}

#areas_of_expertise_section .from-left {
  top: 0;
  left: -100%;
}

#areas_of_expertise_section .card:hover .content .from-left {
  left: 0%;
}

#areas_of_expertise_section .from-bottom {
  top: 69%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#areas_of_expertise_section .card:hover .content .from-bottom {
  top: 0%;
}

#areas_of_expertise_section .card .content .from-bottom h2 {
  font-size: 21px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

#areas_of_expertise_section .card .content .from-bottom img {
  width: 19%;
}

#areas_of_expertise_section .card .content .from-bottom p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}

#areas_of_expertise_section .card .content .from-bottom .read {
  width: 126px;
  height: 43px;
  font-size: 15px;
  font-weight: 600;
  background-color: #1ba8f0;
  border: none;
  color: #fff;
}

#areas_of_expertise_section #hl {
  border-bottom: 6px solid #0d6efd;
  width: 84px;
  margin-bottom: 30px;
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1)) 1;
     border-image: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%) 1;
}

#areas_of_expertise_section .from-right {
  top: 0%;
  right: -100%;
}

#areas_of_expertise_section .card:hover .content .from-right {
  right: 0;
}

#areas_of_expertise_section .card .content .back h3 {
  font-size: 15px;
  letter-spacing: 2px;
}

#areas_of_expertise_section .card .content .back .tem-img {
  border-radius: 100%;
}

#areas_of_expertise_section .card .content .back .des {
  font-size: 13px;
  padding: 20px 0px;
}

#industries_we_serve_section .title {
  margin: 2rem 0;
}

#industries_we_serve_section .title h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 240px) and (max-width: 480px) {
  #industries_we_serve_section .title h3 {
    text-align: left;
  }
}

#industries_we_serve_section .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 14px;
  bottom: 0;
}

#industries_we_serve_section .industries-We-Serve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#industries_we_serve_section .industries-We-Serve .industries-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

#industries_we_serve_section .industries-We-Serve .industries-icons .area {
  width: 88px;
  height: 88px;
}

#industries_we_serve_section .industries-We-Serve .industries-icons-caption h3 {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

#why_choose_us {
  padding: 6rem 0;
}

#why_choose_us .left-side .title h3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
}

@media (min-width: 240px) and (max-width: 480px) {
  #why_choose_us .left-side .title h3 {
    text-align: left;
  }
}

#why_choose_us .left-side .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 14px;
  bottom: 0;
}

#why_choose_us .left-side h2 {
  font-weight: 600;
  font-size: 36px;
}

#why_choose_us .right-side .img-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#099A97), color-stop(99.95%, rgba(21, 205, 168, 0.91)), color-stop(99.96%, #2EDA87), color-stop(99.97%, #1F9185), color-stop(99.98%, #0A1824), color-stop(99.99%, #1C706F));
  background: linear-gradient(180deg, #099A97 0%, rgba(21, 205, 168, 0.91) 99.95%, #2EDA87 99.96%, #1F9185 99.97%, #0A1824 99.98%, #1C706F 99.99%);
}

#why_choose_us .right-side .img-container img {
  -webkit-transform: translate(4%, 6%);
          transform: translate(4%, 6%);
}

#projects_statistics_section .title {
  margin: 2rem 0;
}

#projects_statistics_section .title h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 240px) and (max-width: 480px) {
  #projects_statistics_section .title h3 {
    text-align: left;
  }
}

#projects_statistics_section .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 14px;
  bottom: 0;
}

.how-we-work .title {
  margin: 2rem 0;
}

.how-we-work .title h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 240px) and (max-width: 480px) {
  .how-we-work .title h3 {
    text-align: left;
  }
}

.how-we-work .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 14px;
  bottom: 0;
}

#portfolio .title {
  margin: 2rem 0;
}

#portfolio .title h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 240px) and (max-width: 480px) {
  #portfolio .title h3 {
    text-align: left;
  }
}

#portfolio .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 14px;
  bottom: 0;
}

#portfolio .np {
  padding: 0px;
}

#portfolio h4 {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

#portfolio .more {
  border: 2px solid #fff;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

#portfolio .featuredPropBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: outside none none;
  padding: 0;
}

@media (min-width: 240px) and (max-width: 480px) {
  #portfolio .featuredPropBox ul {
    display: block;
  }
}

#portfolio .featuredPropBox ul li {
  background-color: #eeeeee;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 250px;
  margin: 5px;
  width: 32%;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

@media (min-width: 240px) and (max-width: 480px) {
  #portfolio .featuredPropBox ul li {
    width: 100%;
  }
}

#portfolio .featuredPropBox ul li:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(22, 22, 22, 0.6);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#portfolio .featuredPropBox ul li:nth-child(1) {
  background-image: url("https://i.ibb.co/ZmtmLGK/a.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(2) {
  background-image: url("https://i.ibb.co/pzGysVS/b.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(3) {
  background-image: url("https://i.ibb.co/QMrtWT1/c.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(4) {
  background-image: url("https://i.ibb.co/DL5pvY6/bg-1-2.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(5) {
  background-image: url("https://i.ibb.co/FWV1BJG/bg-1.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(6) {
  background-image: url("https://i.ibb.co/ZXmWmSZ/14.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(7) {
  background-image: url("https://i.ibb.co/hLcmWbT/15646.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(8) {
  background-image: url("https://i.ibb.co/89P5rTs/15678.jpg");
}

#portfolio .featuredPropBox ul li:nth-child(9) {
  background-image: url("https://i.ibb.co/RhZgpSG/20845.jpg");
}

#portfolio .featuredPropBox ul li .fplogo {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#portfolio .featuredPropBox ul li .fplogo img {
  width: 100%;
}

#portfolio .featuredPropBox ul li .fptext {
  display: none;
  font-size: 16px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 65%;
  z-index: 1;
}

#portfolio .featuredPropBox ul li .fptext p {
  color: #fff;
  margin: 0px;
}

#portfolio .featuredPropBox ul li:hover {
  -webkit-box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2) inset;
}

#portfolio .featuredPropBox ul li:hover:after {
  background-color: rgba(22, 22, 22, 0.3);
}

#portfolio .featuredPropBox ul li:hover .fplogo {
  display: none;
}

#portfolio .featuredPropBox ul li:hover .fptext {
  display: block;
}

#testimonials .title {
  margin-top: 53px;
}

#testimonials .title h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

#testimonials .title h3::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2EDAC1), color-stop(72.4%, #2FAC9A), to(#2EDAC1));
  background: linear-gradient(180deg, #2EDAC1 0%, #2FAC9A 72.4%, #2EDAC1 100%);
  top: 14px;
  bottom: 0;
}

#testimonials .testimonial-slide {
  padding: 40px 20px;
}

#testimonials .testimonial_box-top {
  background-color: #e0fbfc;
  padding: 30px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493);
          box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493);
}

#testimonials .testimonial_box-icon {
  padding: 10px 0;
}

#testimonials .testimonial_box-icon i {
  font-size: 25px;
  color: #14213d;
}

#testimonials .testimonial_box-text {
  padding: 10px 0;
}

#testimonials .testimonial_box-text p {
  color: #293241;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

#testimonials .testimonial_box-img {
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#testimonials .testimonial_box-img img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #e5e5e5;
}

#testimonials .testimonial_box-name {
  padding-top: 10px;
}

#testimonials .testimonial_box-name h4 {
  font-size: 20px;
  line-height: 25px;
  color: #293241;
  margin-bottom: 0;
}

#testimonials .testimonial_box-job p {
  color: #293241;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

footer {
  padding-top: 4rem;
  background-color: #222a29e8;
}

footer .footer-top h4 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
}

footer .footer-top p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  margin-right: 10px;
}

footer .footer-top .input-group {
  width: 720px;
  height: 50px;
  float: right;
}

footer .footer-top .input-group .form-control {
  border-radius: 6px;
  border: none;
  background-color: #84AEC1;
  font-size: 17px;
  color: #EFF5F7;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

footer .footer-top .input-group .btn {
  background-color: #84AEC1;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  position: relative;
  z-index: 0;
}

footer .footer-top .input-group .btn::after {
  content: '';
  position: absolute;
  width: 54px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 14px;
  left: 11px;
  background-color: #ffffff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

footer .footer-top .input-group .btn:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

footer hr {
  border: none;
  border-top: 2px dotted #fff;
  color: #fff;
  background-color: #659ab1;
  opacity: 1;
}

footer .footer-bottom .logo {
  width: 78px;
}

footer .footer-bottom p {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0px;
}

footer .footer-bottom h5 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

footer .footer-bottom ul {
  list-style: none;
  padding-left: 0;
}

footer .footer-bottom ul li {
  font-size: 14px;
  font-weight: 400;
  color: #EFF5F7;
  font-family: 'Nunito', sans-serif;
  line-height: 35px;
}

footer .footer-bottom .link {
  width: 40px;
  height: 40px;
  background-color: #84AEC1;
  color: #fff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

footer .bottom-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bottom-bar p {
  color: #EFF5F7;
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */